body {
  font-family: "Montserrat", sans-serif;
}
.App {
  padding: 2% 0;
}
.wbtn-div {
  border-bottom: 3px solid #d9d9d9;
  padding: 1% 4%;
}
.wbtn-div button {
  background-color: #fe805c;
  color: #fff;
  width: 168px;
  height: 42px;
  border: 1px solid #fe805c;
  border-radius: 24px;
  cursor: pointer;
}
.container {
  padding: 3% 4%;
}

p {
  margin-bottom: 0;
  margin-top: 0;
}
input {
  width: 210px;
  height: 40px;
  padding: 0.5rem 1rem;
  border-radius: 91px;
  border: transparent;
  margin-bottom: 1rem;
}
input:focus-visible {
  border-color: transparent;
  outline-width: 0;
}
::placeholder {
  color: #afafbd;
  font-size: 14px;
}
.subscribe-input {
  width: 450px;
  background-color: #fff;
}
.subscribe-btn {
  background-color: #fff;
  border: transparent;
  padding: 2px 15px;
  position: absolute;
  right: 55px;
  border-left: 0.5px solid #afafbd;
  bottom: 37px;
}
.subscribe-btn:hover {
  background-color: rgb(228, 225, 222);
}
.text {
  position: absolute;
  top: -16px;
  color: rgba(255, 255, 255, 0.808);
  font-size: 15px;
}
.form {
  margin-top: 1rem;
}
